body {
  color: white;
  background-color: black;
  font-family: "Righteous", cursive;
  min-height: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.game-title {
  width: 70%;
  border: 1px solid white;
}

.instructions-btn {
  border: none;
  margin-top: 15px;
  margin-left: 40px;
  height: 85%;
  width: 20%;
  border-radius: 10px;
  padding: 10px 0 10px 0;
  font-size: 20px;
  font-weight: bolder;
  background-color: #136452;
  color: white;
  cursor: pointer;
  text-align: center;
}

.instructions-btn:hover {
  background: #d62473;
  color: black;
  border: 2px solid white;
}

.start-btn {
  border: none;
  margin-top: 10px;
  height: 75%;
  border-radius: 10px;
  padding: 10px 0 10px 0;
  font-size: 30px;
  font-weight: bolder;
  background-color: #d62473;
  color: white;
  cursor: pointer;
  text-align: center;
}
.start-btn:hover {
  background-color: #136452;
  border: 2px solid white;
  box-sizing: 60px;
  color: black;
}

.audio-control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-btn {
  border: none;
  height: 30%;
  width: 20%;
  border-radius: 10px;
  padding: 5px 0 5px 0;
  font-size: 25px;
  font-weight: bolder;
  background-color: #136452;
  color: gold;
  cursor: pointer;
  text-align: center;
}

.audio-btn:hover {
  color: black;
  background-color: #d62473;
  width: 18%;
  height: 30%;
  border: 1px solid white;
}

.game-timer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 35px;
  text-align: right;
  padding-right: 20px;
}

.comments {
  font-size: 30px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* the styling of the rectangular tiles */

.glass-tile {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-radius: 2px;
  background-color: #336997;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid white;
}

.hide {
  display: none;
}

#glass-tile-top {
  align-self: flex-end;
  margin-bottom: 2.5px;
}

#glass-tile-bot {
  align-self: flex-start;
  margin-top: 2.5px;
}

/* glass grid */
.glass-tiles-container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(7, 1fr);
}

.game-area {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
}

.start,
.finish {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.start {
  margin-right: 10px;
  margin-left: 10px;
  border: 7px solid rgb(214, 42, 42);
}

.finish {
  margin-left: 10px;
  margin-right: 10px;
  border: 7px solid rgb(31, 179, 80);
}

.start-text,
.finish-text {
  text-align: center;
  font-size: 30px;
  padding: 5px;
}

.start-text {
  margin-right: 5px;
}

.finish-text {
  margin-left: 5px;
}

.player-start-position {
  display: grid;
  align-items: center;
  justify-content: center;
}

.player-end-position {
  display: grid;
  align-items: center;
  justify-content: center;
}

.player-icon {
  width: 35px;
  height: 35px;
  background-color: #239f9c;
  border-radius: 50%;
}

.fa-trophy {
  font-size: 30px;
  color: gold;
}

.lives {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.gameover-text {
  text-align: center;
  font-size: 70px;
}
#restart-btn {
  display: block;
  margin: 0 auto;
  height: 100px;
  background-color: #136452;
  color: white;
  font-size: 45px;
  border-radius: 10px;
  width: 70%;
}

#restart-btn:hover {
  background-color: #d62473;
  color: whitesmoke;
  border: none;
}
